body {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  padding-top: 50px;
  margin: 0px;
}

#blue {
  background-color: #26349c;
  color: white;
}

#container {
  border: 2.5px solid gray;
  background-color: #f1f1f1;
  border-radius: 10px;
  margin: 20px;
}

/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a, .dropbtn {
  display: block;
  padding: 14px 20px;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  color: white;
}
*/



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #333;
}

li {
  float: right;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #f1f1f1;
  color: black;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
